# Supabase
# Connect to Supabase via connection pooling
DATABASE_URL=""
# Direct connection to the database. Used for migrations
DIRECT_URL=""


# Better-Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=
SMTP_PASS=

# LLM
API_KEY=
BASE_URL=

# TemanCerita Key
ENCRYPTION_KEY=

# Midtrans Key
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false